<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Add a categorie
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()"> <ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="categorie">
      <ion-item>
        <ion-label>Nom de la categorie </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-button (click)="save()">Save</ion-button>
  </form>
</ion-content>