<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Boutiques List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-boutique" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let boutique of boutiques">
    <ion-item-sliding #item>
      <ion-item color="primary" routerLink="/{{boutique._id}}/categories">
        {{boutique.name}}
      </ion-item>

      <ion-item-options side="end">
        <ion-button routerLink="/view-boutique/{{boutique._id}}" color="light">Edit</ion-button>
        <ion-button (click)="delete([boutique._id])" color="danger">Delete</ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>